@font-face {
  font-family: 'Futura PT';
  src: url('FuturaPTCond-Book.eot');
  src: local('Futura PT Cond Book'), local('FuturaPTCond-Book'),
      url('../fonts/futura-pt/FuturaPTCond-Book.eot') format('embedded-opentype'),
      url('../fonts/futura-pt/FuturaPTCond-Book.woff2') format('woff2'),
      url('../fonts/futura-pt/FuturaPTCond-Book.woff') format('woff'),
      url('../fonts/futura-pt/FuturaPTCond-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::backdrop,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  border: none; 
  outline: none
}

h1, h2, h3, h4, p{
  margin: 0;
}

.container{
  max-width: 1920px;  
  margin: 0 auto;
}

.header__content{  
  padding: 16px 8px 8px 8px;
  background: var(--main-navy-blue-110-a-1-d, #110A1D); 
}

.header__content-block{
  max-width: 1640px;
  margin: 0 auto;
  padding: 24px 48px;
  align-items: center;
  display: flex;
  border-radius: 64px;
  border: 4px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);   
}

.nav{
  margin: 0 auto;
}

.navigation__list{
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 8px;
}

.navigation__list-link{  
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;  
  cursor: pointer;
  text-transform: capitalize;
}

.navigation__list-link:hover{
  color: var(--main-clean-white-ffffff, #ccc5c5);
}

.header__profile{
  display: flex;
  gap: 14px;
  padding: 8px;
  align-items: center;
  margin: auto 0;
}

.header__language{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px;
  border-radius: 24px;
  border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  cursor: pointer;
}

.header__language:hover{
  border: 2px solid var(--additional-purple-9-dadf-2, #478BF9);
  background: var(--main-blue-478-bf-9, #478BF9);
}

.header__language-text{
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.header__login{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 24px;
  border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  cursor: pointer;
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.header__login:hover{
  border: 2px solid var(--additional-purple-9-dadf-2, #478BF9);
  background: var(--main-blue-478-bf-9, #478BF9);
}

.header__singup{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 24px;
  border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
  background: var(--main-navy-blue-110-a-1-d, #110A1D);
  cursor: pointer;
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.header__singup:hover{
  border: 2px solid var(--additional-purple-9-dadf-2, #478BF9);
  background: var(--main-blue-478-bf-9, #478BF9);
}

.menu-mobile-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mobile-language__btn{
  display: none;
}

.menu-btn{
  display: none;
}

.menu-btn-close{
  display: none;
}

.menu-mobile{
  display: none;
}

.home-gambling{
  position: relative;
}

.line-light{
  position: absolute;
  left: 307px;
  top: 0px;
  width: 226px;
  height: 1302px;
  transform: rotate(-54.311deg);
  opacity: 0.55;
  background: var(--main-blue-hover, linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.40) 100%));
  filter: blur(90px);
  z-index: 2;
}

.home-gambling__container{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(17, 10, 29), rgb(18, 12, 32));
  position: relative;  
}

.circle-light{
  position: absolute;
  right: -159px;
  bottom: 0px;
  width: 574px;
  height: 574px;
  border-radius: 574px;
  opacity: 0.7;
  background: var(--main-blue-hover, linear-gradient(256deg, #478BF9 0%, #9DADF2 100%));
  filter: blur(165px);
  z-index: 2;
}

.home-gambling__block{
  padding: 296px 30px 384px 140px;
}

.home-gambling__title{
  max-width: 669px;
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend', sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px;
  margin-bottom: 24px;
}

.home-gambling__title span{
  color: var(--main-blue-478-bf-9, #478BF9);
}

.home-gambling__text{
  color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
  font-family: 'Lexend', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.home-gambling__btn{
  position: relative;
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; 
  text-transform: uppercase;
  margin-top: 48px;
  padding: 20px 72px;
  border-radius: 48px;
  background: var(--main-blue-478-bf-9, #478BF9);
  z-index: 3;
}

.home-gambling__btn:hover{
  transform: scale(1.1);
}

.home-gambling__ticker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
  height: 1025px;
  margin-top: 10px;
  overflow: hidden;  
}

.home-gambling__ticker-down-left-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 200%;
  animation: ticker-down-left 10s linear infinite;
}

@keyframes ticker-down-left {
  0% {
    transform: translateY(-50%);
}
100% {
    transform: translateY(0%);
}
}

.home-gambling__ticker-up-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 200%;
  animation: ticker 10s linear infinite;
}

.home-gambling__ticker-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}

.home-gambling__ticker-img {
  width: 100%;
}

@keyframes ticker {
  0% {
    transform: translateY(0%);
}
100% {
    transform: translateY(-50%);
}
}

.home-gambling__ticker-down-right-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 200%;
  animation: ticker-down-left 10s linear infinite;
}

@keyframes ticker-down-left {
  0% {
    transform: translateY(-50%);
}
100% {
    transform: translateY(0%);
}
}

.home-gambling__ticker-mobile{
  display: none;   
}

.home-gambling__blog{
  width: 531px;
  padding: 140px 0px 0px 0px;
  margin-right: 140px;
  margin-left: 15px;
  z-index: 3;
}

.home-gambling-blog__title{
  margin-bottom: 24px;
  text-align: center;
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.home-gambling__payment-info{
  width: 531px;
  height: 595px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 100px;
  border: 3px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));  
  overflow-y: auto;
  overflow-x: hidden;
}

.simplebar-track.simplebar-vertical{
  width: 8px;
  margin-right: 16px;
  border-radius: 10px;
  background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
  top: 96px;
}

.simplebar-track {   
  bottom: 96px;  
}

.simplebar-scrollbar {  
  max-height: 104px;
}

.simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 8px;
  border-radius: 10px;
  background: var(--main-blue-478-bf-9, #478BF9);
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before{
  opacity: 1;
}

.home-gambling__payment{
  padding: 16px 64px;
  border-radius: 196px;
  background: var(--main-deep-blue-1-e-1231, #1E1231);
  margin-bottom: 16px;
  margin-right: 16px;
}

.home-gambling__payment:last-child{
  margin-bottom: 0;
}

.home-gambling__payment:hover{
  background: var(--main-blue-478-bf-9, #478BF9);
}

.home-gambling__payment-text{
  color: var(--main-clean-white-ffffff, #FFF);
  font-family: 'Lexend', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 14px;
}

.home-gambling__payment-date{
  color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
  font-feature-settings: 'liga' off;
  font-family: 'Futura PT', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: 16px;
}

.footer{
  background: linear-gradient(180deg, rgb(17, 10, 29), rgb(18, 12, 32));
}

.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  border-radius: 64px 64px 0px 0px;
  border-top: 4px solid var(--main-blue-478-bf-9, #478BF9);
  border-right: 4px solid var(--main-blue-478-bf-9, #478BF9);
  border-left: 4px solid var(--main-blue-478-bf-9, #478BF9);
  background: var(--main-deep-blue-1-e-1231, #1E1231);
  padding: 40px 140px 24px 140px;
}

.footer-navigation__list{
  display: flex;  
  gap: 40px;  
}

.footer-navigation__list-link{
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}

.footer-navigation__list-link:hover{
  color: var(--main-blue-478-bf-9, #478BF9);
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  text-decoration-line: underline;
}

.social__text{
  color: var(--main-clean-white-ffffff, #FFF);
  text-align: right;
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 14px;
}

.social__list{
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.social__list-img:hover .hover-color{ 
  fill: url(#paint0_linear_1043_201);
}

@media (max-width: 1800px) {
  .home-gambling__ticker-down-left-container{
    display: none;
  }
  .home-gambling__ticker-down-right-container{
    display: none;
  }
}
@media (max-width: 1455px) {
  .home-gambling__block {
    padding: 296px 30px 384px 30px;
}
  .home-gambling__blog{
    margin-right: 30px;
  }
}
@media (max-width: 1255px) {
  .home-gambling__container{
    display: block;
  }
  .home-gambling__block{
    padding: 70px 10px 32px 10px;
  }
  .home-gambling__title{
    min-width: 300px;
    max-width: 100%;
    text-align: center;
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 12px;
  }
  .home-gambling__text{
    text-align: center;
    font-size: 20px;
    line-height: 26px;
  }
  .home-gambling__btn{
    display: block;
    margin: 0 auto;
    padding: 15px 20px;
    margin-top: 24px;
  }
  .home-gambling__ticker {
    display: none;
  }
  .home-gambling__ticker-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-width: 300px;
    margin-top: 10px;
    overflow: hidden;
  }
  .home-gambling__ticker-up-left-container{
    display: flex;
    flex-direction: row;  
    gap: 30px;
    width: 350%;
    animation: ticker-up-left 10s linear infinite;
  }  
  @keyframes ticker-up-left {
    0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
  }  
  .home-gambling__ticker-right-container{
    display: flex;
    flex-direction: row;
    width: 350%;
    animation: ticker-right 14s linear infinite;
  }  
  .home-gambling__ticker-mobile-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
  }  
  .home-gambling__ticker-mobile-block svg{
    height: 100%;
  }  
  @keyframes ticker-right {
    0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(0%);
  }
  }  
  .home-gambling__ticker-down-left-container{
    display: flex;
    flex-direction: row;
    width: 350%;
    animation: ticker-down-left 8s linear infinite;
  }  
  @keyframes ticker-down-left {
    0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
  }
  .home-gambling__blog{
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 33px 0 120px 0;    
  }
  .home-gambling__payment-info{
    position: relative;
    min-width: 300px;
    border-radius: 50px;
    padding: 10px 0 0 10px;
    z-index: 3;
  }
  .home-gambling__payment{
    padding: 15px 35px;
    margin-right: 22px;
  }
  .home-gambling__payment-text{
    font-size: 16px;
    line-height: 20px;
  }
  .simplebar-track.simplebar-vertical{    
    margin-right: 6px; 
  }

  .footer__content{
    display: block;
  }

  .footer-navigation__list{
    justify-content: center;
  }

  .social__text{
    text-align: center;
    padding-top: 14px;
  }

  .social__list{
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  .header__content-block {
    display: block;    
  }
  .navigation__list{
    justify-content: flex-end;
  }
  .header__profile {
    justify-content: flex-end;
  }
}
@media (max-width: 1050px) {
  .footer-navigation__list {
    display: block;
    text-align: center;    
  }
  .footer-navigation__list-item {
    padding: 7px;
  }
}

@media (max-width: 768px) {
  .header__content-block{
    padding: 10px 14px;
    border: 2px solid var(--main-blue-478-bf-9, #478BF9);
  }
  .nav{
    display: none;
  }
  .header__profile{
    display: none;
  }
  .menu-mobile-btn{
    margin-left: auto;
  }
  .mobile-language__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 24px;
    border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
  }
  .mobile-language__btn svg{
    width: 24px;
  }
  .menu-btn{    
    display: flex;
    width: 28px;
    cursor: pointer;
    z-index: 7;
    margin: 0 8px;
  }
  .close-menu-btn{
    display: none;
  }
  .open-close{
    display: flex;
    width: 45px;
    cursor: pointer;    
    margin: 0 8px;
    transition: all 1s;
  }
  .img-close{
    z-index: 3;
  }
  .menu-mobile{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
    z-index: 1;
    padding: 30px 8px 92px 8px;
    transform: translateY(-120%);
    transition: transform 0.5s ease;
    z-index: 8;
  }
  .menu-mobile.menu-open{
    transform: translateY(15%);
  }
  .mobile-navigation__list{
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .mobile__login{
    color: var(--main-clean-white-ffffff, #FFF);
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 20px;
    border-radius: 24px;
    border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
    background: var(--main-deep-blue-1-e-1231, #1E1231);
  }
  .mobile__singup{
    color: var(--main-clean-white-ffffff, #FFF);
    text-align: center;
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 20px;
    border-radius: 24px;
    background: var(--main-blue-478-bf-9, #478BF9);
  }
  .navigation__list-item{
    width: 100%;
    padding: 13px 20px;
    border-radius: 28px;
    border: 2px solid var(--main-blue-478-bf-9, #478BF9);
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
  }
  .line-light{
    left: -20px;
    top: -250px;
    width: 100px;
    height: 800px;   
    filter: blur(25px);
  }
  .circle-light{
    right: -35px;
    bottom: -20px;
    width: 174px;
    height: 174px;
    border-radius: 174px;    
    filter: blur(95px);
  } 
  .footer__content{
    padding: 20px;
  }
  .footer-navigation__list{
    text-align: left;
    gap: 2px;
  }
  .footer-navigation__list-item {
    padding: 2px;
  }
    .social-media{
    width: 100%;
  }  
  .social__text{
    text-align: start;
    padding-top: 20px;
    padding-bottom: 8px;
  }
  .social__list{
    justify-content: flex-start;
  }
  .social__list-img{
    width: 27px;
  }
}
@media (max-width: 580px) {
  .home-gambling__blog{
    width: 400px;   
  }
  .home-gambling__payment-info{    
    width: 400px;
  }
  .home-gambling__ticker-block svg{
    width: 100px;    
  }
}
@media (max-width: 450px) {
  .home-gambling__blog{
    width: 300px;   
  }
  .home-gambling__payment-info{    
    width: 300px;
  }
}